{% extends "base.html" %}
{% block content %}
{% load static %}
<section id="home">
    <section class="wrapper">
        <header>
            <h1>
                <a href="./index.html">
                    <img src="{% static './images/dictionary.png' %}" alt="Logo" />
                </a>
            </h1>
            <div id="dictionary">
                <H1>
                    ENGLISH DICTIONARY
                </H1>
            </div>
            <div>
                {% if request.user.is_authenticated %}
                <a href="{% url 'words:create_word' %}" class="login my-words">Add</a>
                <a href="{% url 'users:logout'%}" class="login"> Logout </a>
                {% else %}
                <a href="{% url 'users:login'%}" class="login"> Login </a>
                {% endif %}
                <div>
        </header>
        <section class="main_container">
            <section class="spotlight">
                <h1 class="search-heading">
                    DICTIONARY SEARCH</h1>
                <section class="form">
                    <form  method="get" action="{% url 'words:search' %}">
                        <input type="text" name="q" placeholder="Search for a word" value="{{query}}" class="search-form">
                        <button type="submit" class="search-button">Search</button>
                    </form>
                    {% if no_results %}
                    <p>No results found for "{{ query }}".</p>
                    {% else %}
                </section>
               
                <section class="result">
                    <ul>
                        {% for word in results %}
                        <li>
                            <p class="search-word">Word : {{ word.word }}</p>
                        </li>
                        <li>
                            <p class="search-definition">Definition : {{ word.definition }}</p>
                        </li>
                        <li>
                            <p class="search-synonymns">Synonymns : {{ word.synonymns }}</p>
                        </li>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </section>
            </section>
        </section>
    </section>
</section>

{% endblock %}